# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# End of https://www.toptal.com/developers/gitignore/api/laravel
.idea/binsheikh-laravel.iml
.idea/commandlinetools/Laravel_18_05_2025__12_29.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
.idea/workspace.xml
.vscode/launch.json
